In [1]:
import pandas as pd



print('loading tables')

activity = pd.read_csv('./OpenData/activity.csv')
table02 = pd.read_csv('./OpenData/address.csv')
table03 = pd.read_csv('./OpenData/code.csv')
table04 = pd.read_csv('./OpenData/contact.csv')
table05 = pd.read_csv('./OpenData/denomination.csv')
table06 = pd.read_csv('./OpenData/enterprise.csv')
table07 = pd.read_csv('./OpenData/establishment.csv')

loading tables

/home/sebchko/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2,3,4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
activity.head()

   EntityNumber ActivityGroup  NaceVersion  NaceCode Classification
0  0200.065.765        PPO001         2008     84130           MAIN
1  0200.065.765        BTW001         2008     41101           MAIN
2  0200.065.765        BTW001         2003     70111           MAIN
3  0200.068.636        PPO001         2008     36000           MAIN
4  0200.068.636        BTW001         2008     36000           MAIN

In [7]:
token = pd.read_json('token.json')
token.drop_duplicates(inplace=True)
token[1]= '0'+token[0].astype(str).str[:3]+'.'+token[0].astype(str).str[3:6]+'.'+token[0].astype(str).str[6:9]
token.head()

           0             1
0  716964414  0716.964.414
1  716672523  0716.672.523
2  716964315  0716.964.315
3  716966788  0716.966.788
4  422460536  0422.460.536

In [8]:
token = token[1].tolist()

In [23]:
len(token)

32888

In [9]:
activity = activity[activity.EntityNumber.isin(token)]

In [10]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52044 entries, 4440 to 3340634
Data columns (total 5 columns):
EntityNumber      52044 non-null object
ActivityGroup     52044 non-null object
NaceVersion       52044 non-null int64
NaceCode          52044 non-null int64
Classification    52044 non-null object
dtypes: int64(2), object(3)
memory usage: 2.4+ MB

In [20]:
table02 = table02[table02.EntityNumber.isin(token)]
table04 = table04[table04.EntityNumber.isin(token)]
table05 = table05[table05.EntityNumber.isin(token)]
table06 = table06[table06.EnterpriseNumber.isin(token)]
table07 = table07[table07.EnterpriseNumber.isin(token)]

In [21]:
print(table02.info())
print(table04.info())
print(table05.info())
print(table06.info())
print(table07.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29796 entries, 4388 to 1688584
Data columns (total 13 columns):
EntityNumber        29796 non-null object
TypeOfAddress       29796 non-null object
CountryNL           168 non-null object
CountryFR           168 non-null object
Zipcode             29770 non-null object
MunicipalityNL      29796 non-null object
MunicipalityFR      29796 non-null object
StreetNL            29792 non-null object
StreetFR            29792 non-null object
HouseNumber         29782 non-null object
Box                 4755 non-null object
ExtraAddressInfo    55 non-null object
DateStrikingOff     50 non-null object
dtypes: object(13)
memory usage: 3.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6784 entries, 10413 to 108019
Data columns (total 4 columns):
EntityNumber     6784 non-null object
EntityContact    6784 non-null object
ContactType      6784 non-null object
Value            6784 non-null object
dtypes: object(4)
memory usage: 265.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 33680 entries, 4840 to 1858801
Data columns (total 4 columns):
EntityNumber          33680 non-null object
Language              33680 non-null int64
TypeOfDenomination    33680 non-null int64
Denomination          33680 non-null object
dtypes: int64(2), object(2)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29639 entries, 4388 to 1748093
Data columns (total 6 columns):
EnterpriseNumber      29639 non-null object
Status                29639 non-null object
JuridicalSituation    29639 non-null int64
TypeOfEnterprise      29639 non-null int64
JuridicalForm         29639 non-null float64
StartDate             29639 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21099 entries, 484 to 1458977
Data columns (total 3 columns):
EstablishmentNumber    21099 non-null object
StartDate              21099 non-null object
EnterpriseNumber       21099 non-null object
dtypes: object(3)
memory usage: 659.3+ KB
None

In [22]:
activity.to_csv('./OpenData/activity_f.csv')
table02.to_csv('./OpenData/address_f.csv')
table04.to_csv('./OpenData/contact_f.csv')
table05.to_csv('./OpenData/denomination_f.csv')
table06.to_csv('./OpenData/enterprise_f.csv')
table07.to_csv('./OpenData/establishment_f.csv')